*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    padding: 0;
}
img {
    object-fit: cover;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Aleo', serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: #ffffff;
}
button {
    border: none;
    cursor: pointer;
    background: transparent;
    color: inherit;
    padding: 14px 32px;
}


.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: rgba(242, 120, 92, 0.7);
    position: absolute;
    right: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.menu-nav {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
}
.menu-nav__list {
    display: flex;
    gap: 45px;
}
.button {
   color: #fff;
   background-color: #0D606F;
   border-radius: 10px;
}
.menu-btn {
    padding: 10px 30px;
}
.preview {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 765px;
}
.preview__inner {
    max-width: 892px;
    width: 100%;
    padding-top: 125px;
}
.preview__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    margin-bottom: 25px;
}
.preview__text {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 46px;
}
.preview__form {
    position: relative;
}
.preview__input {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    padding: 32px 41px 41px;
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    border: 0;
}
.preview__input::placeholder {
    color: #F2785C;
    font-size: 24px;
    font-style: italic;
    font-weight: 400; 
    line-height: 29px;
}
.preview__btn {
    position: absolute;
    right: 18px;
    top: 18px;
    bottom: 18px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}